@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

$Primary-font:'Oxygen', sans-serif;
$orange: #ea5436;
$lightorange: #FF7100;
$lightgray: #F9F6F4;
$textcolor : #7e868a;
$graybg: #FCFBFA;
$form_input: #FAFBFC; 
$darkgray: #4d4d4d;

body{
	margin: 0;
	font-family: $Primary-font;
}
h1, h2, h3, h4, h5, h6 ,a, li, p, button, input, select, label{font-family: $Primary-font;}
a{text-decoration: none;}
button:focus{outline:none;}
input { font-family: 'FontAwesome'; }
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
} 
.pure-g{letter-spacing: normal;}
.one, .third{
	background-color: $lightgray !important;
	height: 100vh;
}
.second{
	background-color: $orange !important; 
	height: 100vh;
}
.followMeBar {
	background: #e64a19;
	padding: 10px 20px;
	position: relative;
	z-index: 1;
	color: #fff;
}
.followMeBar.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 0;
}
.followMeBar.fixed.absolute {
	position: absolute;
}
.banner1{
	/* padding: 240px 0 160px 0; */
	padding: 15% 0;
	background-color: $lightgray;
}
.banner1-curve{
	height:50px;
	border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
	-moz-border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
	-webkit-border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
	background-color: $lightgray;
}
.banner1 h3{
	margin: 0;
	font-size: 35px;
	color: $orange;
	text-align: center;
}
.banner2-curve{
	height:50px;
	border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
	-moz-border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
	-webkit-border-radius: 0% 0% 200vh 200vh / 0% 0% 20vh 20vh;
	background-color: $orange;
}
.banner2 h3{
	margin: 0;
	font-size: 35px;
	color: $lightgray;
	text-align: center;
}
.banner2{
	/* padding: 240px 0 160px 0; */
	padding: 15% 0;
	background-color: $orange;
}
.circle-orange{	
	margin-top: 10vh;
	width: 20px;
	height: 20px;
	background: $orange;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
}
.circle-white{
	margin-top: 10vh;
	width: 20px;
	height: 20px;
	background: $lightgray;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}
.circle{
	text-align: center;
}
.banner4{
	padding: 15% 0;
	text-align: center;
	img{
		width: 85px;
	}
	h3{
		margin: 0;
		font-size: 27px;
		color: $orange;
	}
	h2{
		color: $darkgray;
		font-weight: 300;
	}
}
.banner1-curve-bg{
	background-color: $orange;
}
.banner2-curve-bg{
	background-color: $lightgray;
}
.navbar{
	background-color: $graybg;
	box-shadow:0 5px 5px #DCDBDB;
}
.pure-menu-heading img{
	width: 34px;
}
#stickyheader {
	z-index: 100;
	width: 100%;
	height: 10px;
}
#stickyalias {
	display: none;
	height: 10px;
}
.navbar{
	.contact{
		background-color: #fff;
		box-shadow: 0px 3px 10px 0px rgba(235, 72, 40, 0.15);
		border-radius: 20px;
		color: $darkgray;
		padding-left: 2em;
		padding-right: 2em;
		transition: .3s ease-in-out;
	}
	.contact:hover, .work:hover{
		box-shadow: 0px 10px 20px 0px rgba(235, 72, 40, 0.15);
	}
	.work{
		background-color: $orange;
		box-shadow: 0px 3px 10px 0px rgba(235, 72, 40, 0.15);
		border-radius: 20px;
		color: #fff;
		padding-left: 2em;
		padding-right: 2em;
		transition: .3s ease-in-out;
		margin-left: 10px;
	}
}


/* ============================================================
  ANIMATED UNDERLINE
============================================================ */
.view {
  position: relative;
  color: #ff3296;
  text-decoration: none;
}
.view:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $orange;
  content: "";
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.view:hover {
  color: $orange;
}
.view:hover:after {
  width: 100%;
}

.pure-menu-horizontal{
	ul{
		margin: 10px 0;
	}
	.nav-right{
		text-align: right;
	}
}

.pure-menu-heading:hover, .pure-menu-heading:focus{
	background-color: $graybg;
	outline: none;
}

/* ================== WHY and PROCESS ==================== */
.why{padding: 80px 0;}
.why, .process{
	h5{
		margin: 0 0 20px 0;
		position: relative;
		z-index: 1;
		font-family: "Oxygen", sans-serif;
		text-align: left;
		font-weight: 300;
		font-size: 35px;
		color: #FF5F26;
		background: -webkit-gradient(linear, left center, right center, from(#ea5436), to(#FF7100));
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-ms-background-clip: text;
		-o-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		-ms-text-fill-color: transparent;
		-o-text-fill-color: transparent;
		text-fill-color: transparent;
	}
	p{		
		text-align: justify;
		color: $textcolor;
		font-size: 14px;
		line-height: 26px;
	}
	a{
		text-transform: uppercase;
		color: $darkgray;
		font-size: 15px;
	}
	.why-pure{
		margin: 60px 100px;
	}
	img.eff-img{
		width: 325px;
	}
	img.wireframe-des{width: 240px;}
	.pic-block{text-align: center;}
	.sub-tab{
		margin: 0 100px;
		h3{
			margin: 0 15px 0 0;
			font-size: 17px;
			text-transform: uppercase;
			color: $darkgray;
		}
	}

// TABS
section {
	display: none;
}
input {
	display: none;
}
label {
	display: inline-block;
	margin-right: 15px;
	padding-bottom: 4px;
	text-align: center;
	color: $textcolor;
	border: 1px solid transparent;
}
label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
label:hover {
	color: #888;
	cursor: pointer;
}
input:checked + label {
	color: #555;
	border-bottom: 1px solid $lightorange;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
	display: block;
}
@media screen and (max-width: 400px) {
	label {
		padding: 15px;
	}
}
	/* TABS END */
}
/* ================== WHY ends ==================== */

/* ================== PROCESS ==================== */
.process{
	.process-team {
		margin-top: 30px;
		img{
			width: 30px;
			border-radius: 3px;
			margin-right: 10px
		}
	}
}
#f1_container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}
#f1_card {
	transform-style: preserve-3d;
	transition: all 0.5s linear;
}
#f1_container:hover #f1_card {
	transform: rotateY(20deg);
}
/* ================== PROCESS ends ==================== */

/* ================== TEAM ==================== */
.team{
	padding: 80px 0 40px 0;
	.pure-g{
		padding: 0 100px;
	}
	.l-box {
		display: inline-block;
		box-shadow: 0 1px 3px $textcolor;
		margin: 20px 36px;
		text-align: center;
		border-radius: 5px;
		img{
			background-color: $lightorange;
			width: 100%;
			border-radius: 5px 5px 0 0;
		}
	}
	.team-child{text-align: center;}
	.team-info{
		vertical-align: middle;
   /*  line-height: 46px; */
   min-height: 55px;
   padding: 5px;
   h5{
   	margin: 0;
   	color: $darkgray;
   	text-transform: capitalize;
   	font-weight: 300;
   	font-size: 17px;
   }
   h6{
   	margin: 0;
   	color:  $textcolor;
   	font-weight: 300;
   	font-size: 14px;
   }
   hr {
   	width: 15%;
   	height: 2px;
   	margin: 4px auto;
   	background-color: #FF7100;
   	color: #FF7100;
   	border: 0 none;
   }
 }
}
/* ================== TEAM ends ==================== */

/* ================== CLIENTS ================== */
.owl-carousel {
	position: relative;
	height: 100%;
	div:not(.owl-controls) {
		height: 65%;
	}
	
/* 	.owl-slide {
	background-image: url('https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
} */

div.owl--text {
	position: absolute;
	/* bottom: 4em;
	left: 2em;
	width: 20em;
	height: 8em; */
	padding: 1em;
	background: rgba(255,255,255,.5);
	border-radius: 4px;
}

.owl-controls {
	position: absolute;
	top: 25%;
	left: 0;
	right:0;

	.owl-buttons {

		div {
			position: absolute;
			top:0;
			bottom: 0;
			display: inline-block;
			zoom: 1;
			margin: 0;
			width: 30px;
			height: 30px;
			line-height: 25px;
			text-align: center;
			font-size: .9em;
			border-radius:0;
			color: #FFF;
			background: #000;
			opacity: .6;
			text-transform: capitalize;
		} 

		.owl-prev {
			left: 11px;
		}
		.owl-next {
			right: 11px;
		}
	}
}
}

.owl-theme .owl-controls .owl-buttons div {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: $orange !important;
	opacity: 1 !important;
	padding: 3px !important;
}


* { box-sizing: border-box; }

body, html {
	height: 100%;
	margin: 0;
	font-family: futura, arial, sans-serif;
}

.clients{
	padding: 80px 0 0 0;
	.clients-section{margin-top: 100px;}
	.animated_slider li {
		width: 650px;
		position: relative;
		list-style: none;
		display: none;
		text-align: center;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.animated_slider li img, .owl-slide img{
		transform: scale(0.8,0.8);
		-moz-transform: scale(0.8,0.8);
		-ms-transform: scale(0.8,0.8);
		-webkit-transform: scale(0.8,0.8);
	}
/* 	.animated_slider .previous_hidden {
	display: block;
	transform: scale(0.0,0.0);
	-moz-transform: scale(0.0,0.0);
	-ms-transform: scale(0.0,0.0);
	-webkit-transform: scale(0.0,0.0);
	opacity: 0.0;
	position: absolute;
	left: -5px;
	z-index: 0;
} 
 	.animated_slider .next_hidden {
display: block;
transform: scale(0.0,0.0);
-moz-transform: scale(0.0,0.0);
-ms-transform: scale(0.0,0.0);
-webkit-transform: scale(0.0,0.0);
opacity: 0.0;
position: absolute;
left: 525px;
z-index: 0;
}   */
.animated_slider .previous_item {
	display: block;
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	opacity: 0.65;
	position: absolute;
	z-index: 0;
}
.animated_slider .previous_item img{
	/* opacity: 0; */
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
}
.animated_slider .next_item img{
	/* opacity: 0; */
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
}
.animated_slider .next_item {
	display: block;
	transform: scale(0.8,0.8);
	-moz-transform: scale(0.8,0.8);
	-ms-transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
	opacity: 0.65;
	position: absolute;
	z-index: 0;
}
.animated_slider .current_item {
	display: block;
	position: absolute;
	transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	z-index: 90;
}
.animated_slider h5, .owl-slide h5{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 17px;
	font-weight: 300;
}
.animated_slider p, .owl-slide p{
	color: $textcolor;
	font-size: 14px;
	line-height: 24px;
}
.animated_slider a, .owl-slide a{
	color: $lightorange;
	text-transform: uppercase;
	border-bottom: 1px solid;
	padding-bottom: 5px;
	font-size: 14px;
}
.left-arrow, .right-arrow{
	position: absolute;
	display: inline-block;
	top: 35%;
}
.left-arrow{ /* left: 13%; */
}
.right-arrow{right: 0;}
.client-img img{
	width: 12%;
	left: 45%;
	border-radius: 50%;
	top: -30px;
	position: absolute;
}
.outer_pad{position: relative;
}
#btn_next1 img, #btn_prev1 img{
	width: 20px;
}
.client-block{
	text-align: center;
	min-height: 232px;
	box-shadow: 0 13px 59px #D3D3D3;
	background-color: #fff;
	padding: 30px 45px;
}
.owl-carousel .owl-wrapper-outer {
	overflow: visible !important;
}
.center {
	margin-left: auto;
	margin-right: auto; 
}
h1 {
	color: #222222;
	font-size: 2.61792em;
	padding-top: 0.3em;
	padding-bottom: 0.3em; 
}
.choose_slider {
	height: 350px;
	position: relative;
	display: inline-block;
}
.subhead {
	margin-top: 0px;
	font-weight: 10;
	color: #404040;
}
h2 {
	color: #808080;
}
.main-title {
	margin-bottom: 2px;
}
code {        
	background-color: #F9F9F9;
	border: 1px dashed #2F6FAB;
	color: black;
	line-height: 1.45em;
	padding: 1em;
	white-space: pre-wrap;
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}
.main-container {
	margin-left: 50px;
	margin-right: 50px;
}
span.note {
	padding-left: 30px;
	font-size: 10px;
}
blockquote{
	position: absolute;
	margin: 0;
}
blockquote::after{
	content: "";
}
}
/* ================== CLIENTS ends ==================== */

/* ================== CONTACT US ==================== */
#contact-us{
	padding: 80px 0 0 0; 
	background-image: linear-gradient(to top, #fffaf7 0%, white 100%);
	.contact-box{
		background-color: #fff;
		box-shadow: 0px 12px 40px 0px rgba(102, 103, 103, 0.08);
	}
	.contact-left, .contact-right{
		padding: 0 10px;
		text-align: center;
		input{width: 100%;}
	}
	form{padding: 20px;}
	input, select{
		margin-bottom: 20px !important;
		color: $textcolor;
		font-size: 14px;
		background-color: $form_input;
		border: none !important;
		padding: 12px 22px !important; 
		border-radius: 20px !important;
		outline: none !important;
		box-shadow: none !important;
	}
	select{
		height: 40px;
	}
	textarea {
		height: 135px;
		resize: none;
		box-shadow: none;
		border-radius: 15px;
	}
	textarea:focus{border-color: #ccc;}
	button{
		background-color: $orange;
		border-radius: 20px;
		padding: 10px 70px;
		transition: .3s ease-in-out;
	}
	.submit-prt{text-align: center;}
	label{    
		color: $textcolor;
		font-size: 14px;
	}
	.wrapper {
		width: 100%;
		height: 100%;
		input:focus,
		select:focus,
		textarea:focus,
		button:focus {
			outline: none;
		}
		.drop {
			border: 1px dashed $textcolor;
			border-radius: 20px;
			overflow: hidden;
			text-align: center;
			background: white;
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			margin: auto;
			position: relative;
			margin-top: 3px;
		}
		.drop .cont {
			padding: 8px 10px;
			color: #8E99A5;
			-webkit-transition: all 0.5s ease-out;
			-moz-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			margin: auto;
		}
		.drop .cont i {
			font-size: 20px;
			color: #8E99A5;
			position: relative;
		}
		.drop .cont .tit {
			font-size: 400%;
			text-transform: uppercase;
		}
		.drop .cont .desc {
			color: #A4AEBB;
		}
		.drop .cont .browse {
			display: inline;
			border-radius: 5px;
		}
		.drop .cont .browse h3{
			color: $textcolor;
			padding: 8px 16px;
			display: inline;
			margin: 0;
			font-weight: 300;
			font-size: 14px;
		}
		.drop input {
			width: 100%;
			height: 100%;
			cursor: pointer;
			background: red;
			opacity: 0;
			margin-top: 0;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		#list {
			width: 100%;
			text-align: left;
			position: absolute;
			left: 0;
			top: 0;
		}
		#list .thumb {
			height: 75px;
			border: 1px solid #323a44;
			margin: 10px 5px 0 0;
		}
	}

	
}
/* ================== CONTACT US ends ==================== */

hr.contact-hr{
	width: 15%;
	height: 2px;
	margin: 0 auto;
	background-color:$lightorange;
	color:$lightorange;
	border: 0 none;
}
.line-dot{
	height: 15px;
	width: 15px;
	background-color: #FF7100;
	border-radius: 50%;
	position: absolute;
	left: 49.5%;
	bottom: -6px;
}

/* COMMON TO CONTACT AND CLIENT */
#contact-us, .clients, .team, .why, .process{
	h4{
		margin: 0 0 50px 0;
		position: relative;
		z-index: 1;
		font-family: $Primary-font;
		text-align: center;
		font-weight: 300;
		font-size: 50px;
		color: #FF5F26;
		background: -webkit-gradient(linear, left center, right center, from($orange), to($lightorange));
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-ms-background-clip: text;
		-o-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		-ms-text-fill-color: transparent;
		-o-text-fill-color: transparent;
		text-fill-color: transparent;
	}
}

/* ========== FOOTER ========== */

footer {
	background-image: linear-gradient(to top, #f7f7f7 0%, white 100%);
	.footer-sec{
		/* border-bottom: 1px solid $textcolor; */
		padding: 80px 0 40px 0;
	}
	.logo-sec{
		text-align: center;
		img{
			width: 55px;
		}
		h3{
			margin: 10px 0;
			font-size: 16px;
			color: #ea5436;
		}
		h4{
			font-size: 14px;
			margin: 10px 0;
			color: $darkgray;
			font-weight: 300;
		}
	}
	.address{
		p{
			font-size: 14px;
			line-height: 26px;
			margin-top: 0;
			display: inline-flex;
			color: $darkgray;
			font-weight: 300;
		}
		.fa{
			font-size: 21px;
			color: $orange;
		}
		.phone p{
			font-weight: 300;
		}
		.phone a{
			color: #4d4d4d;	
			font-weight: 300;
			font-size: 14px;
		} 
		.phone .fa-envelope{margin-right: 3px;}
	}
	.skype{
		.fa-skype{margin-right: 3px;}
		a{color: $darkgray !important; font-size: 14px;}
	}
	.info{border-left: 1px solid $darkgray;}
	.info, .touch, .legal{
		ul{
			padding: 0 0 0 22px;
			margin: 0;
			list-style: none;
			li a{
				text-transform: capitalize;
				color: $textcolor;
				font-size: 14px;
				line-height: 26px;
			}
			li:nth-child(1){
				font-size: 14px;
				color: $darkgray;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
		}
	}
	.advice{
		h2{
			font-weight: 400;
			font-size: 14px;
			color: $darkgray;
			margin: 0 0 10px 0;
			text-transform: uppercase;
		}
		input{
			width: 140px;
			margin-right: 10px;
			background-color: #F2F4F5;
			border: none;
			padding: 10px;
			border-radius: 20px;
		}
		input:focus{outline: none;}
		button{
			width: 36px;
			height: 36px;
			border: none;
			border-radius: 50%;
			background-color: $orange;
			color: #fff;
		}
		i{
			color: $textcolor;
			margin-right: 10px;
			font-size: 15px;
		}
		.fa-angle-right{
			margin: 0 !important;
			color: #fff !important;
		}
		form{
			margin-bottom: 20px;
		}
	}

	.copyright h4{
		margin-bottom: 0;
		padding-bottom: 20px;
		text-transform: capitalize;
		color: $darkgray;
		font-size: 14px;
	}
}

/* ====================== PLACEHOLDER ====================== */
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $textcolor;
		font-size: 13px;
		font-family: $Primary-font;
		font-size: 14px;
	}
::-moz-placeholder { /* Firefox 19+ */
	color: $textcolor;
	font-size: 13px;
	font-family: $Primary-font;
	font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $textcolor;
	font-size: 13px;
	font-family: $Primary-font;
	font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
	color: $textcolor;
	font-size: 13px;
	font-family: $Primary-font;
	font-size: 14px;
}

/* ====================== CHECKBOX ====================== */
.ui-checkbox {
	display: none;
}
.ui-checkbox + label {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	font-size: 14px;
}
.ui-checkbox + label:before {
	background-color: #fff;
	border: 1px solid $orange;
	padding: 6px;
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	content: "";
}
.ui-checkbox:checked + label:before {
	border: 1px solid $orange;    
	color: #99a1a7;
}
.ui-checkbox.no-border:checked + label:before {
	border-color: transparent;
}
.ui-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 1px;
	color: $orange;
}
.ui-checkbox.green-tick:checked + label:after {
	color: #8cc63f;
}

/* ================ MEDIA QUERIES =================== */
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		width: 750px;
	}
	.clients .animated_slider li{
		width: 500px !important;
	}
	.animated_slider .previous_item {
		left: auto;
	}
	.animated_slider .current_item {
		left: 120px;
	}
	.animated_slider .next_item {
		left: 200px;
	}
}
@media (max-width: 991px){
	.team .pure-g {padding: 0 !important;}
	.why, .process {
		.why-pure{
			margin: 60px 0 !important;
		}
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.clients blockquote::before {
		content: "\275D";
		font-family: Georgia, serif;
		font-size: 160px;
		color: #ea5436;
		position: absolute;
		left: 297px;
		z-index: 99;
		top: -71px;
	}
}
@media (max-width: 639px) {
	.clients-section{display: none;}	
	.clients {
		padding: 0 !important;
	}
	.clients .client-block {
		box-shadow: 0 0px 20px #D3D3D3 !important;
	}
	#contact-us{    
		position: relative;
		top: -221px;
	}
	.clients .client-block {padding: 10px 30px !important;}
}
@media (min-width: 640px) {
	#owl-example{display: none !important;}
}
@media (min-width: 640px) and (max-width: 767px){
	.clients .animated_slider li{
		width: 409px !important;
	}
	.animated_slider .previous_item {
		left: auto;
	}
	.animated_slider .current_item {
		left: 120px;
	}
	.animated_slider .next_item {
		left: 200px;
	}
	.clients .client-block {padding: 50px 30px !important;min-height: 300px !important;}
}
@media (max-width: 767px){
	.why, .process{
		a{font-size: 12px !important;}
		p{font-size: 12px !important;line-height: 21px !important;}
		h5{font-size: 22px !important;}
		img.eff-img {width: 250px !important;}
	}
	.clients .client-block {min-height: 300px !important;}
}
@media (min-width: 768px){
	footer .skype {
		width: 23%;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.team .team-info {
		min-height: 84px;
	}
	.animated_slider .previous_item {
		left: auto;
	}
	.animated_slider .current_item {
		left: 155px;
	}
	.animated_slider .next_item {
		left: 270px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	.animated_slider .previous_item {
		left: 160px;
	}
	.animated_slider .current_item {
		left: 262px;
	}
	.animated_slider .next_item {
		left: 365px;
	}
}
@media (max-width: 767px){
	#contact-us textarea{margin-top: 20px;}
/* 	.contact-box{margin: 0 40px;} */
.hide-sm{display: none;}
.logo-sec, .info, .touch, .legal{display: none;}	
}

@media (max-width: 567px){
	.pure-u-sm-1-2, .pure-u-sm-12-24 {
		width: 50%;
	}
	.pure-u-sm-1, .half-block{
		width: 100%;
	}
	.why img.eff-img, .process img.eff-img {
		margin-top: 0 !important;
	}

}


